services:
  nginx:
    image: nginx:latest
    container_name: nginx-server
    depends_on:
      - oauth2-proxy
    restart: unless-stopped
    volumes:
      - ./certs/:/etc/nginx/ssl/:ro
      - ./sites/:/sites/:ro
      - ./config/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      my-docker-to-docker-bridge:
      my-macvlan-network:
        ipv4_address: 192.168.1.131
    mac_address: 02:42:C0:A8:01:83

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: oauth2-proxy
    restart: unless-stopped
    command:
      - --client-id=nginx-auth
      - --client-secret=YOUR_CLIENT_SECRET
      - --cookie-secret=GENERATE_32_BYTE_SECRET
      - --redirect-url=https://secure.nginx.lab/oauth2/callback
      - --oidc-issuer-url=https://keycloak.lab:8443/realms/lab-realm
      - --http-address=0.0.0.0:4180
      - --upstream=static://202
      - --email-domain=*
      - --provider=keycloak-oidc
      - --cookie-secure=true
      - --cookie-domain=.nginx.lab
      - --ssl-insecure-skip-verify=true
      - --insecure-oidc-allow-unverified-email
    networks:
      my-docker-to-docker-bridge:
      my-macvlan-network:
        ipv4_address: 192.168.1.132
    mac_address: 02:42:C0:A8:01:84

networks:
  my-docker-to-docker-bridge:
    external: true
  my-macvlan-network:
    external: true

volumes:
  nginx-data:
    name: nginx-data
